body{
    display: flex;
    height: 100vh;
    background-color: #2066d1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
header{
    color: white;
    text-align: center;
}
#ano_nasc{
    width: 60%;
}
#resposta{
    align-items: center;
    row-gap: 5px;
    display: flex;
    flex-direction: column-reverse;
}
h1{
    margin: 0px;
}
section{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: 10px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.324);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
img{
    width: 270px;
    border-radius: 50%;
}
div{
    padding: 10px;
}